.list {
  background-color: #fff;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list-wrapper > li {
  color: #000;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #c3c3c3;
}

.pagination-wrapper {
  text-align: center;
}

.pagination-wrapper li {
  display: inline-block;
  padding-right: 10px;
}
